<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/site.css">
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/site.webmanifest">

  <title>MMM - About</title>
</head>
<body>
  <h1 id="header">About Page<h1>
    <div id="contentBox">
      <div id="navigation">
        <a href='/'>Mail</a>&nbsp;&nbsp;&nbsp;&nbsp;
        <a href='/sent'>Sent</a>&nbsp;&nbsp;&nbsp;&nbsp;
        <a href='/about'>About</a><br>
      </div>
      <br>
      Liefe Sutliff<br><br>
      <a href="https://github.com/it-sd/sqc-project-liefesutliff" target="_blank">Github project</a>
      <p>Minimalist Mail Manager is a site that provides standard email features in a simple and easy-to-use way. The main appeal of the site would be how the emails open. Instead of the email expanding to the whole page, my design would slide down and open up showing the full message as well as actions like "Reply" etc. There will also be navigational links for the user's inbox and sent.</p>
    </div>
</body>
</html>