<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/site.css">
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/site.webmanifest">

  <title>MMM - Profile</title>
</head>
<body>
  <h1 id="header">Minimalist Mail Manager - Profile<h1>
    <div id="contentBox">
      <div id="navigation">
        <a href='/'>Inbox</a>&nbsp;&nbsp;&nbsp;&nbsp;
        <a href='/sent'>Sent</a>&nbsp;&nbsp;&nbsp;&nbsp;
        <a href='/about'>About</a>&nbsp;&nbsp;&nbsp;&nbsp;
        <a href='/profile'>Profile</a><br>
      </div>
      <br>
      <h4 id="statusMessage"></h4>
      Username: <input type="text" id="username"><br>
      Password: <input type="text" id="password"><br>
      <input type="submit" id="submitButton" value="Submit">
    </div>

  <script>
    const statusMessage = document.getElementById('statusMessage')
    const username = document.getElementById('username')
    const password = document.getElementById('password')
    const submitButton = document.getElementById('submitButton')

    const checkIfValid = function () {
      const isValid = true

      if(username.value == "" || username.value == null){
        return false
      }
      if(password.value == "" || password.value == null){
        return false
      }

      return isValid
    }

    const submit = async function () {

        if(checkIfValid()){
            console.log('shkhfds')
            const message = document.querySelector('h4')

            const data = {
                username: username.value,
                password: password.value
            }

            const response = await fetch('/submit', {
            method: 'POST',
            headers: {
            Accept: 'application/json', 'Content-Type': 'application/json' 
            },
            body: JSON.stringify(data)
            })

            if (response.ok) {
            const result = await response.json()
            if (result.ok) {
                statusMessage.innerHTML = `Welcome ${username.value}!`
                return
            } 
            } else {
                statusMessage.innerHTML = `Access denied`
            }

        }

    }
    submitButton.addEventListener('click', (e) => submit())
  </script>
</body>
</html>